@import url("https://puckzxz.github.io/NotAnotherAnimeTheme/css/scsl.css");

:root {
                 --background-image:#DCC2A8 
}
svg.premiumIcon-1rDbWQ {
	
	
color:#6d3901;
	
}
div.cozy-3raOZG .messageContent-2qWWxC {
                 color:#247702;
	
	
   font-weight: bold;
	
	
     font-size: 25px;
	
	
	
	
	
 font-family:cursive;
	
-webkit-text-stroke: black 1px;
	
	
	
	
	
	
   text-indent: -20ch
}
h1 {
      color:blue;
 font-family:fantasy;
	
	
	
}
span.username-1A8OIy {
  color:purple !important;backgondcolor: penis;
}
div.scrollableContainer-2NUZem {
         transform: rotate(-37deg) translateY(-300px) translateX(200px); 
  background-color:       #6d3901
}
* div.scroller-1Bvpku {
	
	
   background-color:yellow !important;
}
div.scroller-RmtA4e {
	
	
  background-color: cum;
	
}

h2.container-2ax-kl {
    font-size: 30px;
      color:red;
font-family:fuck you;
}




*:focus-within {
              background: fard;            
	
	
	      content: url(https://cdn.discordapp.com/emojis/744738486594174996.gif);
	
	
}
a.embedMedia-1guQoW {
border-radius: 42px;
	
	
    opacity:.4;
}
div.styleFlexible-wGDiIL {
  background: url('https://media.discordapp.net/attachments/823122158556676106/845851441444290590/images.png') no-repeat center;
}
div.autocomplete-3l_oCd {
	
  transform:rotate(37deg) translateY(-100px) !important;
}
body {
 transition: opacity 10s;
   opacity: 0 !important;
}

div.nameAndDecorators-5FJ2dg {
	font-size: 30px;
  c   olor:red;
  font-family:fuck you;;
}
div.avatar-3uk_u9 {
	
  transform: scale(3.5);
}
*::after,
* *::after,
* * *::after,

* * * *::after,
* * * * *::after,


* * * * * *::after,
* * * * * * *::after,
* * * * * * * *::after {
	
	
	
  content: '' !important;
}
*::before,
* *::before,
* * *::before

* * * *::before,
* * * * *::before,
* * * * * *::before,

* * * * * * *::before,

* * * * * * * *::before {
  content: '';
}
